
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: url('bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.card{
  width: 28%;
  max-width: 440px;
  color: white;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(225,225,225,0.3);
  background: rgba(225, 225, 225,0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
  backdrop-filter: blur(5px);
}
.card img{
  width: 100px;
  border-radius: 50%;
}
.card h2{
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}
.card p{
  font-size: 10px;
  margin: 10px auto;
  max-width: 330px;
}
.card .links img{
  width: 25px;
  border-radius:50%;
  margin: 10px 5px;
  transition: background 0.5s;
}
.card .links img:hover{
  background: #ff01cf;
}
.btn{
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  background: white;
  color: #ff01cf;
  padding: 7px 17px;
  border-radius: 30px;
  margin: 10px 0 10px
}


@media (max-width:1075px) and (min-width:815px){
  .card{
    padding: 50px 35px;
    width: 60%;
  }
  .btn{
    padding: 5px 10px;
    font-size: 12px;
  }
  .card h2{
    font-size: 40px;
  }
}
@media (max-width:815px) and (min-width:703px) {
  .card{
    padding: 50px 35px;
    width: 60%;
  }
  .card img{
    width: 90px;
    border-radius: 50%;
  }
  .btn{
    padding: 5px 10px;
    font-size: 12px;
  }
  .card h2{
    font-size: 40px;
  }
}
@media (max-width:703px) and (min-width:532px) {
  .card{
    padding: 50px 35px;
    width: 60%;
  }
  .card h2{
    font-size: 40px;
  }
}
@media (max-width:532px) and (min-width:414px) {
  .card{
    padding: 50px 35px;
    width: 80%;
  }
  .card h2{
    font-size: 40px;
  }
}
@media (max-width:413px){
  .card{
    padding: 50px 35px;
    width: 90%;
  }
  .card h2{
    font-size: 40px;
  }
}
@media (max-width:292px){
  .card{
    padding: 50px 35px;
    width: 90%;
  }
  .card h2{
    font-size:30px;
  }
}

